name: Lint PR

on:
  pull_request_target:
    types: [opened, reopened, edited]

jobs:
  lint-pr:
    if: ${{ !github.event.pull_request.draft }}
    name: Validate PR title
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      pull-requests: read
      statuses: write
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            chore
            refactor
            test
            perf
            ci
            build
            revert
          wip: true
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: |
            The subject "{subject}" found in the pull request title "{title}"
            should not start with an uppercase character.
          ignoreLabels: |
            bot
            dependencies
